<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Crear Entrada</h1>
</div>
<div class="my-4 w-100" id="myChart" width="900" height="380">

    <div class="form-signin">
        <form (ngSubmit)="(form)" [formGroup]="form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Título de entrada</label>
                <input name="tittle" type="text" class="form-control" formControlName="tittle" [ngClass]=" {'is-invalid': form.controls.tittle.errors?.required ,'is-valid' : form.controls.tittle.valid }">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Cuerpo</label>
                <div [froalaEditor] name="data" formControlName="data" [ngClass]=" {'is-invalid': form.controls.data.errors?.required ,'is-valid' : form.controls.data.valid }"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Slug Amigable</label>
                <input type="text" name="slug" class="form-control" formControlName="slug" [ngClass]=" {'is-invalid': form.controls.slug.errors?.required ,'is-valid' : form.controls.slug.valid }">
            </div>
            <label for="formFileMultiple" class="form-label">Seleccione alguna imagen</label>
            <div class="input-group mb-3">
                <input class="form-control" type="file" id="formFileMultiple" name="file[]" formControlName="file" multiple data-bs-toggle="tooltip" data-bs-placement="bottom" title="Only formats: png, gif, jpeg, jpg" (change)="onFileChange($event)" [ngClass]=" {'is-invalid': form.controls.file.errors?.required ,'is-valid' : form.controls.file.valid }"
                    accept="image/png, image/gif, image/jpeg, image/jpg">
                <button class="btn btn-outline-danger" type="button" (click)="resetImages()">Limpiar</button>
            </div>
            <img *ngFor='let url of images' [src]="url" height="100" width="150px" style="margin: 3px;"> <br/>
            <button class="w-100 btn btn-lg btn-primary" (click)="onSubmit(form)" type="submit">Crear Entrada</button>
        </form>
    </div>

</div>