<div class="form-signin text-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 fw-normal">Ingresar</h1>

        <div class="form-floating">
            <input type="email" formControlName="email" class="form-control is-valid" class="form-control" placeholder="name@example.com" [ngClass]=" {'is-invalid': form.controls.email.errors?.required || form.controls.email.invalid  ,'is-valid' : form.controls.email.valid }">
            <label for="floatingInput">Correo</label>
        </div>
        <div class="form-floating">
            <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]=" {'is-invalid': form.controls.password.errors?.required ,'is-valid' : form.controls.password.valid }">
            <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="d-grid gap-2">
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="onSubmit()">Login</button>
            <button class="btn btn-secondary" (click)="reset()">Reset</button>
        </div>
    </form>
</div>