<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Listado de Entradas</h1>
</div>
<div class="my-4 w-100" id="myChart" width="900" height="380">

    <table class="table table-bordered text-center">
        <thead>
            <th>Titulo</th>
            <th>Cuerpo</th>
            <th>Slug</th>
            <th>Acciones</th>
        </thead>
        <tbody *ngIf="dataLength">
            <tr *ngFor="let item of inputs">
                <td>{{item.title}}</td>
                <td>{{item.body}}</td>
                <td>{{item.slug}}</td>
                <td>
                    <button type="button" class="btn btn-primary">Borrar</button>
                    <button type="button" class="btn btn-warning">Editar</button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="!dataLength">
            <tr>
                <td colspan="5">
                    <div class="alert alert-danger" role="alert">
                        <h3>Sin registros, realice una entrada.</h3>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
